<div id="container">
    <div class="row">
        <div class="name">baba</div><div class="score">424</div>
    </div>
    
    <div class="row">
        <div class="name">bobo</div><div class="score">894</div>
    </div>
    
    <div class="row">
        <div class="name">bibi</div><div class="score">112</div>
    </div>
    
    <div class="row">
        <div class="name">bebe</div><div class="score">334</div>
    </div>
    
    <div class="row">
        <div class="name">caca</div><div class="score">909</div>
    </div>

    <div class="row">
        <div class="name">cici</div><div class="score">887</div>
    </div>

    <div class="row">
        <div class="name">cece</div><div class="score">223</div>
    </div>

    <div class="row">
        <div class="name">coco</div><div class="score">565</div>
    </div>
</div>